<h1>  Posts Show Page  </h1>


  <li><%= link_to @post.blogger.name, blogger_path(@post.blogger_id) %></li>

  <li><%= link_to @post.destination.name, destination_path(@post.destination_id) %></li>
  